.App{
    display: flex;
    margin: 0 0.5em;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 320px){
    /* Исправить разъезжающиеся футтер и хедер */
}

body{
    margin: 0 auto;
    max-width: 1660px;
}

button{
    transition: opacity 0.3s ease-out 0.1s;
    cursor: pointer;
}

button:hover{
    opacity: 0.6;
}