.chatPage{
    display: flex;
    width: 100%;
    padding: 0.5% 0;
    justify-content: space-between;
    color: green;
}

.chatPage button{
    width: 20%;
    min-width: fit-content;
    height: 30px;
    color: white;
    border-radius: 5px;
    background-color: green;
}

@media (max-width: 420px){
    .chatPage{
        justify-content: center;
        flex-wrap: wrap;
    }
    .contacts{
        margin-bottom: 2%;
    }
}