.footer{
    display: grid;
    width: 100%;
    grid-template-areas: "a a b c c d e e";
    /* position: fixed;  */ /* ????????? */
    /* bottom: 0;  */
    height: 80px;
    background-color: rgb(157, 235, 39) /*  rgb(206, 199, 199) */;
    color: green;
    border-radius: 3px;
    justify-content: space-around;
    align-items: center;
    max-height: 30%;
    margin-top: 220px;
}

.copyright{
    grid-area: a;
}

.owner{
    display: flex;
    grid-area: c;
    justify-content: center;
}

.date{
    display: flex;
    grid-area: e;
    justify-content: flex-end;
}