.messages{
    width: 74%;
    padding: 1%;
    background-color: greenyellow;
    border-radius: 2px;
}

.messages-info{
    display: flex;
    max-height: 2em;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid green;
    padding-bottom: 1em;
}

.messages-info img{
    max-height: 2em;
    max-width: 2em;
    border-radius: 50%;
}

.messages form{
    display: flex;
    align-items: baseline;
    border-top: 1px solid green;
    padding-top: 1em;
}

.messages form input{
    box-sizing: border-box;
}

.messages button{
    max-width: 80px;
    margin-left: 1em;
}

.messages-ul{
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    list-style: none;
}

.messages-ul li{
    box-sizing: border-box;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    background-color: rgb(176, 181, 196);
    margin-bottom: 0.2em;
}

.messages-ul .my-message{
    align-self: flex-end;
    /* background-color: rgb(210, 241, 163); */
    background-color: honeydew;
}

.messages-online{
    margin-left: 1em;
    font-size: 80%;
    font-style: italic;
    color: grey;
    opacity: 0.7;
}

